<div *ngIf="posts$ | async as posts">
  <div
    class="panel panel-default"
    *ngFor="let post of posts"
    style="border-style: solid; margin-bottom: 50px"
  >
    <div style="background-color: rgb(050, 47, 47) !important; color: white">
      <h4 class="media-heading" style="display: inline-block">
        Title:
        <br />
        {{ post.title }}
        <br />
        <br />
        Text:
        <br />
        {{ post.body }}
      </h4>
    </div>
  </div>
</div>

<app-paginator
  [totalPages]="totalPages"
  [currentPage]="currentPage"
  (pageChange)="onPageChange($event)"
></app-paginator>
